init-if-undefined $target_set = 0
if $target_set == 0
    target remote localhost:__gdb_port__
    file obj/kernel
    add-symbol-file obj/bootsector.out 0x7c00
    add-symbol-file obj/p-procos-app 0x100000
    add-symbol-file obj/p-procos-app2 0x100000
    add-symbol-file obj/p-procos-app3 0x100000
    source build/functions.gdb
    display/5i $pc
    set $target_set = 1
end
